/* CSS Document */
#loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: #000000 url(../_img/loading.gif) center center no-repeat;
}

#header .logo {
	padding:10px;	
}

.content {
	background: url('http://test.vision121.it/appPhoneGap/_img/bg.jpg') no-repeat top left #000000;
	color:#ffffff;
}

.img {
	width:100%;
}

.ui-content {
	padding:0;
}

.ui-header .ui-btn-right {
	margin:20% 0 10px 0;
}

/*company*/
.box-txt {
	margin:20px;
	text-align:justify;
}


/* lista prodotti*/
#lista-prod ul {
	margin:0;
	padding:0;
	list-style:none;
}

#lista-prod li {
	margin:0 1% 0 1%;
	padding:0;
	list-style:none;
	float:left;
	width:46%;
}

#lista-prod li img {
	width:100%;
}

/*DETT PROD*/
#menu-prod {
	width:98%;
	margin:1%;
	float:left;
	font-size:3em;
	text-shadow:#CCC 1px 1px;
}

#dett-prod-img {
	width:98%;
	float:left;
	clear:both;
}

#dett-prod-txt {
	width:98%;
	margin:1%;
	float:left;
	clear:both;
	font-size:1.5em;
}

#dett-prod-txt h2 {
	font-size:2em;
}

























